*{
  color: darkorange;
  text-align: center;
  text-shadow: 1.5px 1px black;
  font-family: fantasy;
}

body{
  padding: 30%   ;
}

.strona{
  border: 1px solid  darkorange;
  background-color: rgba(191, 85, 17, 0.64);
  padding: 20px;
}
